@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Roboto&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 3px;
  font-family: "Roboto", sans-serif;
}
/*h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: -1px 0px 3px #0a0a0a4f;
  font-size: 5rem;
  color: red;
}*/
.wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: .5rem;
}
.card {
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(62,6,8,0.9192051820728291) 25%, rgba(119,6,6,1) 50%, rgba(181,9,10,1) 75%, rgba(250,1,26,1) 100%);
  border: 2px solid rgba(0, 0, 0, 0.308);
  border-radius: 4px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.582);
}
.profile1 {
  text-align: center;
  height: 85px;
  width: 100%;
  color: white;
  text-shadow: 0px 2px black;
}
.name {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-family: "Londrina Solid", cursive, sans-serif;
  margin-bottom: 6px;
  justify-content: space-around;
}

.country{
  height: 2.3rem;
}
.profile2 {
  font-family: "Londrina Solid", cursive, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 0.93rem;
  width: 100%;
}
.profile3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.733);
  border-radius: 1px;
  background-color: white;
}
