@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=M+PLUS+Code+Latin&family=Passion+One&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&family=Suez+One&display=swap"); /* cards orignal size
width: 322px;
height: 450px; */
*:root {
  --red-primary: #e82727;
  --black: #0d0d0d;
  --glass: rgba(255, 255, 255, 0.527);
  --black2: rgb(32, 31, 31);
  --white: rgb(218, 218, 218);
  --color: #360a0ab6;
}
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  background-image: url("./assets/field/bg-rb-negro1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
}
a,
:active,
:hover {
  text-decoration: none;
}
.header-title {
  text-align: center;
  position: relative;
  background-color: var(--red-primary);
  height: 48px;
  text-align: center;
  vertical-align: middle;
}
.title-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.header-subheader {
  background-color: var(--black);
  margin: 0;
}
.header-title h1 {
  margin: 0;
}
.header-title img {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 3%;
  transform: translateX(-50%);
}
.sub-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
input {
  font-family: "Bebas Neue";
}
.card-box {
  position: relative;
  background-color: var(--glass);
  height: 333px;
  width: 230px;
  border: 2px solid var(--red-and-black-radial-gradient);
}
.card-box img {
  width: 100%;
  display: block;
}
.patch img {
  position: absolute;
  top: 0%;
  width: 40px;
  border-top-left-radius: 20px;
}
#player-number {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 75px;
  text-align: center;
  color: var(--red-primary);
  font-size: 3rem;
  font-family: "Passion One";
}

#position {
  font-size: 1rem;
  text-align: center;
  vertical-align: center;
}
.card-body {
  background-color: var(--red-primary);
  border-radius: 0 0 6px 6px;
  height: 63px;
}

.player-title {
  color: var(--white);
}
.player-subtitle {
  font-size: 0.86rem;
  color: var(--black);
}

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.separator {
  background-color: var(--glass);
  color: var(--black2);
  /* width: 283px; */
  border-left: 5px solid var(--red-primary);
  border-right: 5px solid var(--red-primary);
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}
.separator h3 {
  text-align: center;
  text-justify: auto;
  text-decoration: none;
}

#header-text-1 {
  text-align: center;
  color: var(--white);
  padding-right: 5rem;
  font-size: 3vw;
}
#header-text-2 {
  text-align: center;
  color: var(--white);
}
#header-text-1 h1 {
  font-size: 3rem;
  font-family: "Bebas Neue";
}
#header-text-2 h1 {
  font-size: 3rem;
  font-family: "Bebas Neue";
}
@media (max-width: 1024px) {
  #header-text-1 {
    letter-spacing: 0.2vw;
  }
  #header-text-2 {
    letter-spacing: 0.7vw;
  }
  #header-text-1 h1 {
    padding-right: 1rem;
    font-size: 2.5rem;
  }
  #header-text-2 h1 {
    font-size: 2.5rem;
  }
}

.player-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 768px;
  background-color:#360a0ab6;
  padding: 1rem 1.5rem 0 1.5rem;
  max-width: 1440px;
}
.player-page-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 67vh;
 
}
.player-page-container-col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.player-page-container-col span {
  font-weight: lighter;
}
#player-value {
  font-weight: lighter;
}

.poster{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 480px;
  border-radius: 6px;
}
.poster img{
  width: 100%;
  display: block;
}
.player-page-container h1{
  color: var(--white);
}
.player-page-container h2{
  color: var(--white);
}
.player-page-container-col h5{
  color: var(--white);
}
@media (max-width: 653px){
  .player-page-container-col h5{
    font-size: 3.3vw;
  }
  #badge{
    width: 65px;
  }
   .player-page-container-row{
    width: 100%;
  }
}
@media (max-width: 563px) {
 
  .header-title {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .header-title img {
    left: 85%;
  }
  #header-text-1 h1 {
    font-size: 2rem;
    padding-left: 5px;
  }
  #header-text-2 h1 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
  }
  #header-text-1 {
    padding: 0;
  }
  #header-text-2 {
    padding: 0;
  }
}
@media (max-width: 486px) {
  .sub-header-row {
    flex-direction: column-reverse;
  }
  input{
    margin-top: 0.6rem;
  }
  .separator{
    margin-top: 0.4rem;
  }
  .separator h3{
    font-size: 0.8rem;
  }
  #header-text-1 h1 {
    font-size: 1.6rem;
    padding-left: 5px;
  }
  #header-text-2 h1 {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 408px) {
  .title h1 {
    font-size: 7vw;
  }
  #player-value {
    font-size: medium;
  }

  #header-text-1 h1 {
    font-size: 1.3rem;
    padding-left: 5px;
  }
  #header-text-2 h1 {
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 352px) {
  .header-title img {
    left: 83%;
  }
  #header-text-1 h1 {
    font-size: 1rem;
  }
  #header-text-2 h1 {
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  .poster{
    width: 230px;
  }
  .player-page-container-row{
    height: 338px;
  }
 
  #player-value h2{
    font-size: smaller;
  }

}
@media (max-width:320px) {
  .poster{
    width: 210px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #360a0ab6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b2727;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #991212;
}
